@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<WebApplication2.Models.Customer>
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Layout/Base.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">New Customer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/customer/new" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="FirstName">First Name</label>
                        <input name="Firstname" value="@Model.Firstname" type="text" class="form-control" placeholder="First Name">
                    </div>
                    </div>
                    
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="LastName">Last Name</label>
                                <input name="Lastname" value="@Model.Lastname" type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="Phone">Phone no</label>
                                    <input name="Phoneno" value="@Model.Phoneno" type="text" class="form-control" placeholder="Phone no">
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="Address">Address</label>
                                        <input name="Address" value="@Model.Address" type="text" class="form-control" placeholder="Address">
                                    </div>
                               </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
